/target
/classes
/checkouts
/build
checkpoint
events.out.*
*.iml
*.ipr
*.iws
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.data*
*.index*
*.meta*
*.txt
.idea
*.so
__pycache__
.ipynb_checkpoints
.gradle
*bash.o*
*bash.e*
job*_*_*bash
*log
